<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.ssm.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="Product">
        <id property="productId" column="product_id"/>
        <result property="name" column="name"/>
        <result property="status" column="status"/>
    </resultMap>
    <select id="selectList" resultMap="BaseResultMap">
        SELECT product_id,name,status
        FROM t_product
        WHERE status=0
    </select>
</mapper>